= form_for @user_usergroup do |f|
  = f.hidden_field :usergroup_id
  = error_messages_for(@user_usergroup)
  .row
    .form-group
      = label_tag('user_usergroup[user_id]', UserUsergroup.human_attribute_name(:user_id))
      = select_user('user_usergroup[user_id]', @user_usergroup.user_id)
  .row
    .form-group
      = f.label :begin_date
      = f.date_select :begin_date, end_year: Time.now.year, class: 'form-control'
  .row
    .form-group
      = f.label :description
      = f.text_area :description, class: 'form-control'
  .actions
    = f.submit 'Добавить', class: 'btn btn-primary'
